$clr-a: #9e19c7;
$font_color: #fff;
$clr-n: #1f032e;
$root: 100vh;
$top_nav: 10vh;
$main: 80vh;
$footer: 10vh;
$aside: 68px;

#root {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, #1b0129d8, #1b0129d8), url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .slot-layer {
    div {
      position: absolute;
      background-image: url("../img/dot.png");
      background-repeat: repeat;
      top: 0;
      width: 96px;
      height: calc(#{$root} - #{$footer});
    }

    .left {
      left: $aside;
    }

    .right {
      right: $aside;
    }
  }

  .topnav {
    height: $top_nav;
    background-color: $clr-n;
    box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
    ;

    .dropdown {
      .btn {
        background: #0000;
        border: none;

        &::after {
          content: none !important;
          /* or content: ""; */
        }
      }

      .dropdown-menu {
        background-color: $clr-n;
        border-radius: 0 !important;

        .dropdown-item {
          padding: 10px;

          &:hover {
            background-color: $clr-a;
          }
        }
      }
    }
  }

  .sidebar-container {
    .left {
      padding-top: 20vh;
      left: -1px;
      padding-left: 23px;

      .rotate {
        width: max-content;
        margin-left: -11px;
        margin-top: -65px;

        a {
          font-size: 13px !important;
        }
      }

      .dot {
        margin-left: 8px;
        margin-top: -45px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
      }

      .left-divider {
        width: 1px;
        border: white solid 1px;
        height: 130px;
        margin-left: 10px;
      }
    }

    .right {
      padding-top: 30vh;
      right: -1px;
    }

    ul {
      position: fixed;
      min-height: 100vh;
      width: $aside;
      border: solid 1px #695872;
      border-bottom: none;

      li {
        padding-bottom: 30px;

        i {
          font-size: 20px;
          cursor: pointer;
        }

        &.rotate {
          transform: rotate(-90deg);
          margin-left: 42px;
        }
      }
    }

    .left li.rotate {
      transform-origin: bottom right;
    }

    .right li.rotate {
      transform-origin: bottom left;
    }
  }

  main {
    position: relative;
    min-height: $main;
    margin-left: $aside;
    margin-right: $aside;
  }

  .footer {
    border-top: 1px solid #695872;

    img,
    iframe {
      height: calc(10vh - 9px);
      width: 82%;
    }
  }
}